<aside>
    <div>
        <h1>Послуги:</h1>
        <h4>Самовивіз</h4>
        <h4>Доставка</h4>
        <h4>Занесення</h4>
        <h4>Збирання</h4>
    </div>
    <div>
        <h1>Самовивіз:</h1>
        <h4>Самовивіз з відділення в м.Дніпро</h4>
        <h4>Бескоштовний</h4>
        <h4>Подробиці по телефону</h4>
    </div>
    <div>
        <h1>Доставка:</h1>
        <h4>Від всій Дніпропетровській області</h4>
        <h4>400-500 грн по місту</h4>
        <h4>Подробиці по телефону</h4>
    </div>
    <div>
        <h1>Занесення:</h1>
        <h4>Занесення меблів додому</h4>
        <h4>От 50 грн, один этаж, один виріб</h4>
        <h4>Подробиці по телефону</h4>
    </div>
    <div>
        <h1>Збирання:</h1>
        <h4>Збирання меблів на замовлення</h4>
        <h4>10% від ціни товару</h4>
        <h4>Подробиці по телефону</h4>
    </div>
</aside>